* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

body {
	width: 100vw;
	display: flex;
	justify-content: center;
	flex-direction: column;
	overflow-x: hidden;
	background-color: #eee;
}

nav {
	display: flex;
	justify-content: center;
	background-color: #333;
	color: white;
}

nav .wrapper {
	width: min(800px, 100vw);
	padding: 1rem 0;
	font-size: larger;
	box-sizing: border-box;
}

main {
	display: flex;
	width: 100vw;
	min-height: 600px;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 1rem;
	box-sizing: border-box;
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: min(800px, 100vw);
}

.card {
	width: 32%;
	height: 220px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px 1px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: white;
	padding: 1.5rem 0;
	box-sizing: border-box;
}

.card h4 {
	font-size: 1.2rem;
	align-self: flex-start;
	padding: 0 2rem;
}

.buy-laptop-section {
	margin-top: 1rem;
	padding: 2rem;
	width: 800px;
	box-sizing: border-box;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 1px;
	border-radius: 10px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.buy-laptop-section img {
	height: 150px;
	width: 150px;
	object-fit: contain;
	margin-right: 2rem;
}

.buy-laptop-section .wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 110px;
}

.laptop-title {
	margin-bottom: 1rem;
}

.laptop-desc,
.laptop-title {
	align-self: flex-start;
}

.laptop-price {
	margin-bottom: 2rem;
}

button {
	width: min(60%, 200px);
	padding: 0.8rem 1.2rem;
	margin: 0.4rem;
	box-sizing: border-box;
	border-radius: 10px;
	border: none;
	transition: 300ms;
	cursor: pointer;
}

button:hover {
	filter: brightness(0.85);
}

button:active {
	filter: brightness(0.6);
}

.get-loan-btn {
	background-color: #34d399;
}

.deposit-bank-btn {
	background-color: #fef08a;
}

.work-btn {
	background-color: #2563eb;
	color: white;
}

.buy-laptop-btn {
	background-color: #25c3eb;
}

.repay-loan-btn {
	margin: 0;
	margin-top: -1.3rem;
	transform: translateY(15px) scale(0.9);
	background-color: rgb(255, 143, 143);
	width: 77.5%;
}

select {
	padding: 0.6rem 0.9rem;
	border-radius: 8px;
	cursor: pointer;
	margin-bottom: 0.8rem;
}

.laptop-features-heading {
	align-self: flex-start;
	padding-left: 2.2rem;
}

ul {
	list-style: none;
	font-size: x-small;
	overflow: scroll;
	max-height: 58px;
	width: 200px;
	overflow-x: hidden;
	align-self: flex-start;
	padding-left: 2.2rem;
}

/* Utility class for adding display: flex */
.flexify {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 0 2rem;
	box-sizing: border-box;
}

/* Hide elements while "keeping them" in the layout */
.hidden-opacity {
	pointer-events: none;
	opacity: 0;
	transition: opacity 1000ms;
}

/* Add responsiveness */
@media only screen and (max-width: 800px) {
	nav {
		padding: 1rem;
	}

	.container {
		flex-direction: column;
		align-items: center;
	}
	.card {
		width: 80%;
		margin-bottom: 1rem;
	}

	.buy-laptop-section {
		width: 80vw;
		flex-direction: column;
	}

	ul {
		width: 90%;
	}

	.buy-laptop-section img {
		height: 150px;
		width: 150px;
		object-fit: contain;
		margin: auto;
	}

	.laptop-price {
		margin-top: 1rem;
	}
}
